body,
html {
    margin: 0;
    padding: 0;
}
.row {
    margin: 0;
}

@import "./auxscss/variables.scss";
@import "./auxscss/fonts.scss";
@import "./auxscss/footer.scss";
@import "./auxscss/header.scss";

.pre-launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, $colorPrimary, $colorSecoundary);
    img {
        margin: 0 auto;
    }
    p {
        margin-top: 20px;
        font-family: $fontPrimary;
        font-size: 3em;
        color: white;
    }
}
