@import "./variables.scss";
.ft-sm {
    font-size: 0.8em;
}
.ft-md {
    font-size: 1.4em;
}
.ft-bg {
    @extend .ft-bg;
    font-size: 2em;
}
.ft-primary {
    font-family: $fontPrimary;
    &-small {
        @extend .ft-sm;
        @extend .ft-primary;
    }
    &-medium {
        @extend .ft-md;
        @extend .ft-primary;
    }
    &-big {
        @extend .ft-bg;
        @extend .ft-primary;
    }
}
.ft-secoundary {
    font-family: $fontSecoundary;
    &-small {
        @extend .ft-sm;
        @extend .ft-secoundary;
    }
    &-medium {
        @extend .ft-md;
        @extend .ft-secoundary;
    }
    &-big {
        @extend .ft-bg;
        @extend .ft-secoundary;
    }
}
.ft-third {
    font-family: $fontThird;
    &-small {
        @extend .ft-sm;
        @extend .ft-third;
    }
    &-medium {
        @extend .ft-md;
        @extend .ft-third;
    }
    &-big {
        @extend .ft-bg;
        @extend .ft-third;
    }
}
