@import "./variables.scss";
.nav-in-floating {
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.open-menu {
    margin: 0 auto;
    margin-top: 10px;
    background: transparent;
    border: none;
    line-height: 1;
    padding: 0;
    &::after {
        color: $colorPrimary;
        font-size: 2.5em;
        font-family: "Material Design Icons Light";
        content: "\F35C";
    }
    &:focus {
        outline: 2px solid rgba($colorPrimary, 0.6);
    }
}
nav {
    background: white;
    font-size: 1.2em;
    transition: position 0.5s;
    .navbar-brand {
        width: 100%;
        margin: 0;
        img {
            height: 70px;
            margin: 0 auto;
            display: block;
            transition: height 0.5s;
        }
    }
    a {
        color: $colorPrimary !important;
        &:hover {
            font-size: 1.1em;
            color: black;
        }
    }
    li {
        a {
            font-family: $fontSecoundary;
        }
    }
}
.social-network {
    font-size: 1.4em;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    nav {
        .navbar-brand {
            width: auto;
            img {
                height: 80px;
            }
        }
    }
    .nav-in-floating {
        .navbar-brand {
            img {
                height: 50px;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
