@import "./variables.scss";

.section-immobile {
    margin-top: 146px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
    }
    .image-highlights {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1);
    }
    .content-default {
        position: relative;
        min-height: auto;
        left: auto;
        opacity: 1;
        float: right;
        margin-left: auto;
    }
}
.big-description-immobile {
    font-size: 1.2em;
    font-family: $fontPrimary;
}
.contact-immobile {
    background: $colorPrimary;
    text-align: center;
    padding: 1.5rem 0.25rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontSecoundary;
        font-weight: 200;
        color: white;
    }
}
.more-options-immobile {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontThird;
        text-align: center;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .section-immobile {
        &::after {
            background-image: linear-gradient(
                to left,
                white,
                rgba(gray, 0.5),
                rgba(black, 0.5)
            );
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .section-immobile {
        margin-top: 96px;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
