@import "./variables.scss";
$heightSectionServices: 400px;
.section-home {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url(/images/site/backs/sections/section-home.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(black, 0.5);
        z-index: 2;
    }
}

.box-animation-home {
    position: relative;
    height: 120px;
    display: flex;
    align-items: center;
    div {
        font-family: $fontThird;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
.section-immobiles-search {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-clients {
    background-image: url(/images/site/backs/sections/brick.png);
    background-size: 220px 140px;
    min-height: 600px;
    background-color: rgba(gray, 1);
}
.section-not-found {
    margin-top: 146px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}
@mixin section-description {
    position: relative;
    margin: 2rem 0;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
    }
}
.section-services-description-one {
    @include section-description;
    min-height: $heightSectionServices;
    height: $heightSectionServices;
    background-image: url(/images/site/backs/sections/services1.jpg);
    .content-default {
        top: ($heightSectionServices * 0.33) / 2;
        min-height: $heightSectionServices * 0.66;
        height: $heightSectionServices * 0.66;
    }
}
.section-services-description-two {
    @include section-description;
    min-height: $heightSectionServices;
    height: $heightSectionServices;
    background-image: url(/images/site/backs/sections/services2.jpg);
    .content-default {
        top: ($heightSectionServices * 0.33) / 2;
        min-height: $heightSectionServices * 0.66;
        height: $heightSectionServices * 0.66;
    }
}
.section-contact {
    @include section-description;
    min-height: auto;
    background-image: url(/images/site/backs/sections/contact.jpg);
    display: flex;
    align-items: center;
    .content-default {
        padding-right: 1rem;
        padding-left: 1rem;
        position: relative;
        min-height: auto;
        left: 0;
        opacity: 1;
        background: rgba($colorPrimary, 0.9);
    }
}
.section-curated-immobiles {
    @include section-description;
    min-height: auto;
    background-image: url(/images/site/backs/sections/services1.jpg);
    display: flex;
    align-items: center;
    .content-default {
        padding-right: 1rem;
        padding-left: 1rem;
        position: relative;
        min-height: auto;
        //  left: 0;
        //left: -25%;
        //opacity: 1;
        background: rgba($colorPrimary, 0.9);
    }
}
.section-view-all-immobiles {
    padding: 4rem 0;
    background: #f9f9f9;
    .pagination {
        font-size: 2em;
        font-family: $fontPrimary;
        margin-top: 1rem;
        justify-content: center;
        a {
            color: $colorPrimary;
        }
        li.active .page-link {
            background: $colorPrimary;
            color: white;
        }
        .page-link {
            border: 1px solid $colorPrimary;
        }
    }
}
.immobile-list {
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
    &-card {
        display: flex;
        flex-direction: column;
        background: white;
        border: 1px solid #ced4da;
        height: 100%;
    }
    &-image {
        order: 1;
        height: $heighImageImmobileList;
        overflow: hidden;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $heighImageImmobileList;
            background: rgba(#333, 0.5);
            /*font-family: "Font Awesome 5 Free";
            content: "\f067";*/
            font-family: "Material Design Icons Light";
            content: "\f415";
            font-weight: 900;
            opacity: 0;
            transition: opacity 0.7s;
            color: white;
            font-size: 3em;
            text-align: center;
            line-height: $heighImageImmobileList;
        }
        .owl-carousel {
            position: relative;
            z-index: 3;
        }
        .owl-carousel,
        .owl-stage-outer,
        .owl-stage,
        .owl-item {
            //width: 100% !important;
            height: 100% !important;
            img {
                transition: transform 0.7s;
                margin: 0 auto;
                width: auto;
                //min-width: 100% !important;
                min-height: 100% !important;
                max-height: 100% !important;
            }
        }
    }
    &-context {
        order: 2;
        padding: 1rem;
        a {
            color: inherit;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
        p {
            margin-bottom: 0;
            font-family: $fontPrimary;
            color: #6e273d;
        }
        hr {
            margin: 0.5rem 0;
        }
        h4 {
            font-size: 1.2em !important;
            font-family: $fontPrimary;
            line-height: 1.5em;
        }
        &:hover {
            ~ .immobile-list-image::after {
                opacity: 1;
                z-index: 4;
            }
            ~ .immobile-list-image .owl-item.active img {
                transform: scale(1.3);
            }
        }
    }
    &-context-price {
        font-size: 1.1em;
        font-family: $fontPrimary;
    }

    .item-data-immobile {
        font-family: $fontPrimary;
        padding: 0 0.25rem;
        display: inline-block;
        color: #999;
        i {
            width: 25px;
        }
    }
}
@mixin basecontent() {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: lighter !important;
    }
}
.lead-section {
    padding: 1.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontPrimary;
        color: $colorPrimary;
    }
    p {
        font-family: $fontSecoundary;
        font-size: 1.8em;
        font-weight: 200;
    }
}
.content-home {
    @include basecontent();
    z-index: 4;
    a {
        font-size: 1.5em;
    }
}

.divider-section-services-description {
    @extend .lead-section;
    box-shadow: 0px 0 4px 2px #495057;
    background: gray;
    margin-top: -3rem;
    margin-bottom: -2rem;
    z-index: 4;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontThird;
        color: white;
    }
    span {
        white-space: nowrap;
    }
}
.content-default {
    @include basecontent();
    box-shadow: 0px 0 4px 0 black;
    position: absolute;
    left: -25%;
    opacity: 0;
    background: rgba($colorPrimary, 0.5);
    color: white;
    width: 100%;
    transition: all 1s;
    text-align: center;
    padding: 2rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontSecoundary;
    }
    p {
        font-family: $fontPrimary;
        font-size: 1.2em;
    }
}
.content-view {
    opacity: 1;
    left: 0;
}
.content-clients {
    @include basecontent();
    h1 {
        text-align: center;
        margin: 1.5rem 0;
        font-family: $fontThird;
    }
}
.content-ana {
    @include basecontent();
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to right, transparent, white);
    &-image {
        div {
            margin: 0 auto;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            background-image: url(/images/site/ana.jpg);
            background-size: cover;
            background-position: center;
        }
    }
    &-text {
        h1 {
            font-family: $fontThird;
        }
        p {
            font-family: $fontPrimary;
            font-size: 1.4em;
        }
    }
    .media {
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .immobile-list {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .lead-section {
        padding: 1.5rem;
    }
    .section-services-description-one,
    .section-services-description-two {
        &::after {
            background-image: linear-gradient(
                to right,
                white,
                rgba(gray, 0.5),
                rgba(black, 0.5)
            );
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .immobile-list {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .lead-section {
        width: 80%;
    }
    .content-default {
        width: 70%;
        background: $colorPrimary;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .immobile-list {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .lead-section {
        padding: 2.5rem;
    }
    .content-default {
        width: 50%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .immobile-list {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .lead-section {
        width: 70%;
    }
}
