@import "./variables.scss";
.section-home {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-image: url(/images/site/backs/section-home.svg);
    background-position: center;
    background-size: cover;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(black, 0.3);
    }
}
.section-immobile {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-immobiles-search {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-view-all-immobiles {
    padding: 4rem 0;
    background: #f9f9f9;
    .pagination {
        font-size: 2em;
        font-family: $fontPrimary;
        margin-top: 1rem;
        justify-content: center;
        a {
            color: $colorPrimary;
        }
        li.active .page-link {
            background: $colorPrimary;
            color: white;
        }
        .page-link {
            border: 1px solid $colorPrimary;
        }
    }
}
.immobile-list {
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
    &-card {
        display: flex;
        flex-direction: column;
        background: white;
        border: 1px solid #ced4da;
        height: 100%;
    }
    &-image {
        order: 1;
        height: $heighImageImmobileList;
        overflow: hidden;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $heighImageImmobileList;
            background: rgba(#333, 0.5);
            /*font-family: "Font Awesome 5 Free";
            content: "\f067";*/
            font-family: "Material Design Icons Light";
            content: "\f415";
            font-weight: 900;
            opacity: 0;
            transition: opacity 0.7s;
            color: white;
            font-size: 3em;
            text-align: center;
            line-height: $heighImageImmobileList;
        }
        .owl-carousel {
            position: relative;
            z-index: 3;
        }
        .owl-carousel,
        .owl-stage-outer,
        .owl-stage,
        .owl-item {
            //width: 100% !important;
            height: 100% !important;
            img {
                transition: transform 0.7s;
                width: auto;
                min-width: 100% !important;
                min-height: 100% !important;
                max-height: 100% !important;
            }
        }
    }
    &-context {
        order: 2;
        padding: 1rem;
        a {
            color: inherit;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                text-decoration: none;
            }
        }
        p {
            margin-bottom: 0;
            font-family: $fontSecoundary;
            color: #6e273d;
        }
        hr {
            margin: 0.5rem 0;
        }
        h4 {
            font-size: 1.2em !important;
            font-family: $fontPrimary;
        }
        &:hover {
            ~ .immobile-list-image::after {
                opacity: 1;
                z-index: 4;
            }
            ~ .immobile-list-image .owl-item.active img {
                transform: scale(1.3);
            }
        }
    }
    &-context-price {
        font-size: 1.1em;
        font-family: $fontPrimary;
    }

    .item-data-immobile {
        font-family: $fontPrimary;
        padding: 0 0.25rem;
        display: inline-block;
        color: #999;
        i {
            width: 25px;
        }
    }
}
@mixin basecontent() {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative;
}
.content-home {
    @include basecontent();
    a {
        font-size: 1.5em;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .immobile-list {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .immobile-list {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .immobile-list {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .immobile-list {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
