body,
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

@import "variables.scss";
@import "@coreui/icons/css/free.min.css";
@import "node_modules/swiper/swiper-bundle.min";
@import "sections.scss";
@import "fonts.scss";
@import "footer.scss";
@import "header.scss";
@import "properties.scss";
@import "carrousel.scss";
@import "buttons.scss";
@import "form.scss";
@import "animation.scss";
@import "modal.scss";
@import "itens-marking.scss";
@import "color.scss";

.pre-launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, $colorPrimary, $colorSecoundary);
    img {
        margin: 0 auto;
    }
    p {
        margin-top: 20px;
        font-family: $fontPrimary;
        font-size: 3em;
        color: white;
    }
}
.color-primary {
    color: $colorPrimary !important;
}
.color-secoundary {
    color: $colorSecoundary !important;
}
.bg-primary {
    background: $colorPrimary !important;
}
.bg-secoundary {
    background: $colorSecoundary !important;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
