body,
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

@import "variables.scss";
@import "sections.scss";
@import "fonts.scss";
@import "footer.scss";
@import "header.scss";
@import "immobiles.scss";
@import "carrousel.scss";
@import "buttons.scss";
@import "form.scss";
@import "animation.scss";
@import "modal.scss";
@import "itens-marking.scss";
.pre-launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, $colorPrimary, $colorSecoundary);
    img {
        margin: 0 auto;
    }
    p {
        margin-top: 20px;
        font-family: $fontPrimary;
        font-size: 3em;
        color: white;
    }
}
