@mixin baseinputs {
    //width: 100%;
    padding: 0.25rem !important;
    max-width: 100% !important;
    background: none !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
    &::placeholder {
        color: #495057 !important;
    }
}
.form-search-property {
    width: 100%;
    input,
    select {
        @include baseinputs();
    }
}
.bootstrap-select {
    .btn-light {
        @include baseinputs();
    }
}
.input-group {
    .input-group-text {
        z-index: 9;
        background: $colorPrimary;
        border: 0;
        border-radius: 0;
        button {
            padding: 0;
            line-height: 1;
            background: transparent;
            border: none;
            color: white;
            font-size: 1.4em;
        }
    }
}
.form-contact {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
    input,
    select,
    textarea {
        @include baseinputs();
        width: 100%;
        color: white !important;
        font-weight: 200;
        font-family: $fontSecoundary;
        font-size: 1.7em;
        &::placeholder {
            color: white !important;
        }
    }
}
