.social-network {
    .i-face {
        &:hover {
            color: $colorFace;
        }
    }
    .i-wath {
        &:hover {
            color: $colorWhat;
        }
    }
    .i-inst {
        &:hover {
            background: linear-gradient(
                to bottom,
                $colorInst1,
                $colorInst2,
                $colorInst3
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    i {
        transition: all 0.2s;
        &:hover {
            transform: scale(1.5);
        }
    }
}

$height: 32px;
.icon-rounded {
    border: 1px solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: $height;
    width: $height;
    padding: 0;
    * {
        text-decoration: none;
    }
    &-1-5x {
        height: $height * 1.5;
        width: $height * 1.5;
        font-size: 1.5em;
    }
    &-2x {
        height: $height * 2;
        width: $height * 2;
    }
}
