.section-property-not-found {
    justify-content: center;
}

.section-property-not-found,
.section-property {
    margin-top: 146px;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
}

.section-property {
    min-height: 650px !important;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.5);
    }
    .image-highlights {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1);
    }
    .content-default {
        position: relative;
        min-height: auto;
        left: auto;
        opacity: 1;
        float: right;
        margin-left: auto;
    }
}

.content-property {
    font-family: $fontPrimary;
    ul {
        padding-left: 2rem;
    }
    table {
        width: 100%;
    }
    h1,
    h2 {
        font-family: $fontThird;
    }
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontPrimary;
    }
}

.contact-property {
    background: $colorPrimary;
    text-align: center;
    padding: 1.5rem 0.25rem;
    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontSecoundary;
        font-weight: 200;
        color: white;
    }
}

.more-options-property {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontThird;
        text-align: center;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .section-property {
        &::after {
            background-image: linear-gradient(
                to left,
                white,
                rgba(gray, 0.5),
                rgba(black, 0.5)
            );
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .section-property {
        margin-top: 96px;
        min-height: unset !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
