//Colors
$colorPrimary: #6e273d;
$colorSecoundary: #3e0000;

$colorFace: #3b5998;
$colorWhat: #34af23;
$colorInst1: #555cce;
$colorInst2: #c63185;
$colorInst3: #f97a2b;

$fontPrimary: "Hepta Slab", serif;
$fontSecoundary: "Oswald", sans-serif;
$fontThird: "Cinzel", serif;

$bgGray: gray;

//Sizes
$heighImageImmobileList: 260px;
