.block-immobile-carrousel,
.block-enterprise-carrousel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  cursor: pointer;
}

.block-immobile-carrousel .data-immobile,
.block-enterprise-carrousel .data-immobile {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 2;
}

.block-immobile-carrousel .data-immobile-neighborhood,
.block-enterprise-carrousel .data-immobile-neighborhood {
  font-family: "Hepta Slab", serif;
  opacity: 0.7;
}

.block-immobile-carrousel .data-immobile-description,
.block-enterprise-carrousel .data-immobile-description {
  font-family: "Hepta Slab", serif;
}

.block-immobile-carrousel .data-immobile-price,
.block-enterprise-carrousel .data-immobile-price {
  font-size: 1.5em;
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: #ffff40;
}

.block-immobile-carrousel .data-immobile-type-bussiness,
.block-enterprise-carrousel .data-immobile-type-bussiness {
  font-size: 0.8em;
  opacity: 0.7;
}

.block-enterprise-carrousel {
  background-position: center;
  background-size: 90%;
}

.block-immobile-carrousel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.item-depoiment {
  height: auto;
  text-align: center;
}

.item-depoiment h3 {
  font-family: "Oswald", sans-serif;
}

.item-depoiment p {
  color: white;
  font-family: "Hepta Slab", serif;
}

#carrousel-partial,
.carrousel-owl {
  position: relative;
}

#carrousel-partial .owl-nav,
.carrousel-owl .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#carrousel-partial .owl-nav button::before,
.carrousel-owl .owl-nav button::before {
  background: rgba(128, 128, 128, 0.5) !important;
  color: white !important;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

#carrousel-partial .owl-nav button:focus, #carrousel-partial .owl-nav button:hover,
.carrousel-owl .owl-nav button:focus,
.carrousel-owl .owl-nav button:hover {
  outline: none;
}

#carrousel-partial .owl-nav button:focus::before, #carrousel-partial .owl-nav button:hover::before,
.carrousel-owl .owl-nav button:focus::before,
.carrousel-owl .owl-nav button:hover::before {
  outline: 2px solid rgba(110, 39, 61, 0.6);
  background: gray !important;
}

#carrousel-partial .owl-nav .owl-prev,
.carrousel-owl .owl-nav .owl-prev {
  margin-left: 1rem;
}

#carrousel-partial .owl-nav .owl-prev::before,
.carrousel-owl .owl-nav .owl-prev::before {
  font-family: "Material Design Icons Light";
  content: "\F141";
  font-weight: 900;
}

#carrousel-partial .owl-nav .owl-next,
.carrousel-owl .owl-nav .owl-next {
  float: right;
  margin-right: 1rem;
}

#carrousel-partial .owl-nav .owl-next::before,
.carrousel-owl .owl-nav .owl-next::before {
  font-family: "Material Design Icons Light";
  content: "\F142";
  font-weight: 900;
}

#carrousel-partial .owl-nav span,
.carrousel-owl .owl-nav span {
  display: none !important;
}

#carrousel-partial .owl-dots,
.carrousel-owl .owl-dots {
  padding-top: 10px;
  text-align: center;
  color: #6e273d;
}

#carrousel-partial .owl-dots .owl-dot,
.carrousel-owl .owl-dots .owl-dot {
  margin-right: 5px;
  margin-left: 5px;
}

#carrousel-partial .owl-dots .owl-dot::before,
.carrousel-owl .owl-dots .owl-dot::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 400;
}

#carrousel-partial .owl-dots .owl-dot span,
.carrousel-owl .owl-dots .owl-dot span {
  display: none !important;
}

#carrousel-partial .owl-dots .active::before,
.carrousel-owl .owl-dots .active::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900 !important;
}

#carrousel-pre-view .owl-item {
  height: 300px;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#carrousel-pre-view .owl-item img {
  min-height: 100%;
  min-width: 100%;
}

#carrousel-immobile-view .owl-nav button {
  background: none !important;
}

#carrousel-immobile-view .owl-nav button::before {
  background: gray !important;
  font-size: 1.5em;
}

#carrousel-immobile-view .owl-item img {
  margin: 0 auto;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 576px) {
  .item-depoiment {
    padding: 0 2rem;
  }
  #carrousel-immobile-view .owl-nav button::before {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {
  #carrousel-immobile-view .owl-nav button::before {
    font-size: 3em;
  }
}
/*# sourceMappingURL=carrousel.css.map */