body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  margin: 0;
}

.section-home {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  background-image: url(/images/site/backs/pocos.jpg);
  background-position: center;
  background-size: cover;
}

.section-home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.section-immobiles-search {
  padding-top: 130px;
  padding-bottom: 30px;
}

.section-view-all-immobiles {
  padding: 4rem 0;
  background: #eeeeee;
}

.immobile-list {
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.immobile-list-card {
  background: white;
}

.immobile-list-image {
  height: 260px;
  overflow: hidden;
}

.immobile-list-image .owl-carousel,
.immobile-list-image .owl-stage-outer,
.immobile-list-image .owl-stage,
.immobile-list-image .owl-item {
  height: 100% !important;
}

.immobile-list-image .owl-carousel img,
.immobile-list-image .owl-stage-outer img,
.immobile-list-image .owl-stage img,
.immobile-list-image .owl-item img {
  width: auto;
  min-width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

.immobile-list-context {
  padding: 1rem;
}

.immobile-list-context p {
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  color: #6e273d;
}

.immobile-list-context hr {
  margin: 0.5rem 0;
}

.immobile-list-context h4 {
  font-size: 1.2em !important;
  font-family: "Hepta Slab", serif;
}

.immobile-list-context-price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2em;
  float: right;
  font-family: "Hepta Slab", serif;
}

.immobile-list .item-data-immobile {
  font-family: "Hepta Slab", serif;
  padding: 0 0.25rem;
  display: inline-block;
  color: #999;
}

.content-home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  position: relative;
}

.content-home a {
  font-size: 1.5em;
}

@media (min-width: 576px) {
  .immobile-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .immobile-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .immobile-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .immobile-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.ft-primary {
  font-family: "Hepta Slab", serif;
}

.ft-secoundary {
  font-family: "Oswald", sans-serif;
}

.ft-third {
  font-family: "Open Sans Condensed", sans-serif;
}

footer {
  position: relative;
  background-color: #6e273d;
  background-image: url("/images/site/backs/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer form input {
  font-family: "Oswald", sans-serif;
  background: none !important;
  border-radius: 0 !important;
  color: white !important;
  letter-spacing: 2px;
}

footer form input::-webkit-input-placeholder {
  color: white !important;
}

footer form input:-ms-input-placeholder {
  color: white !important;
}

footer form input::-ms-input-placeholder {
  color: white !important;
}

footer form input::placeholder {
  color: white !important;
}

footer form button {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.background-footer {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(62, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content-footer {
  position: relative;
  z-index: 2;
  color: white;
  width: 100%;
}

.content-footer h4 {
  font-family: "Hepta Slab", serif;
}

.nav-in-floating {
  -webkit-box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
          box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
}

.nav-in-floating .navbar-brand img {
  height: 50px;
}

.navbar-transparent {
  background: transparent !important;
}

.navbar-transparent a {
  color: white !important;
}

.open-menu {
  background: transparent;
  border: none;
  line-height: 1;
  padding: 0;
}

.open-menu::after {
  color: #6e273d;
  font-size: 2.5em;
  font-family: "Material Design Icons Light";
  content: "\F35C";
}

.open-menu:focus {
  outline: 2px solid rgba(110, 39, 61, 0.6);
}

nav {
  background: white;
  font-size: 1.2em;
}

nav .navbar-brand img {
  height: 80px;
}

nav a {
  color: #6e273d !important;
}

nav a:hover {
  font-size: 1.1em;
  color: black;
}

nav li a {
  font-family: "Oswald", sans-serif;
}

.social-network {
  font-size: 1.4em;
}

.block-immobile-carrousel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  cursor: pointer;
}

.block-immobile-carrousel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.block-immobile-carrousel .data-immobile {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 2;
}

.block-immobile-carrousel .data-immobile-neighborhood {
  font-family: "Oswald", sans-serif;
  opacity: 0.7;
}

.block-immobile-carrousel .data-immobile-description {
  font-family: "Hepta Slab", serif;
}

.block-immobile-carrousel .data-immobile-price {
  font-size: 0.9em;
  font-family: "Oswald", sans-serif;
  color: yellow;
}

#carrousel-partial,
.carrousel-owl {
  position: relative;
}

#carrousel-partial .owl-nav,
.carrousel-owl .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#carrousel-partial .owl-nav button,
.carrousel-owl .owl-nav button {
  width: 35px;
  height: 35px;
  background: rgba(128, 128, 128, 0.5) !important;
  color: white !important;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

#carrousel-partial .owl-nav button:focus, #carrousel-partial .owl-nav button:hover,
.carrousel-owl .owl-nav button:focus,
.carrousel-owl .owl-nav button:hover {
  outline: 2px solid rgba(110, 39, 61, 0.6);
  background: gray !important;
}

#carrousel-partial .owl-nav .owl-prev,
.carrousel-owl .owl-nav .owl-prev {
  margin-left: 1rem;
}

#carrousel-partial .owl-nav .owl-prev::before,
.carrousel-owl .owl-nav .owl-prev::before {
  font-family: "Material Design Icons Light";
  content: "\F141";
  font-weight: 900;
}

#carrousel-partial .owl-nav .owl-next,
.carrousel-owl .owl-nav .owl-next {
  float: right;
  margin-right: 1rem;
}

#carrousel-partial .owl-nav .owl-next::before,
.carrousel-owl .owl-nav .owl-next::before {
  font-family: "Material Design Icons Light";
  content: "\F142";
  font-weight: 900;
}

#carrousel-partial .owl-nav span,
.carrousel-owl .owl-nav span {
  display: none !important;
}

#carrousel-partial .owl-dots,
.carrousel-owl .owl-dots {
  padding-top: 10px;
  text-align: center;
  color: #6e273d;
}

#carrousel-partial .owl-dots .owl-dot,
.carrousel-owl .owl-dots .owl-dot {
  margin-right: 5px;
  margin-left: 5px;
}

#carrousel-partial .owl-dots .owl-dot::before,
.carrousel-owl .owl-dots .owl-dot::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 400;
}

#carrousel-partial .owl-dots .owl-dot span,
.carrousel-owl .owl-dots .owl-dot span {
  display: none !important;
}

#carrousel-partial .owl-dots .active::before,
.carrousel-owl .owl-dots .active::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-weight: 900 !important;
}

.bt, .bt--pr, .bt--se {
  border-radius: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.bt:hover, .bt--pr:hover, .bt--se:hover, .bt:focus, .bt--pr:focus, .bt--se:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bt--pr {
  background: #6e273d;
  color: white;
}

.bt--pr:hover, .bt--pr:focus {
  color: white;
}

.bt--se {
  background: #3e0000;
  color: white;
}

.bt--se:hover, .bt--se:focus {
  color: white;
}

.form-search-immobile {
  width: 100%;
}

.form-search-immobile input,
.form-search-immobile select {
  padding: 0.25rem !important;
  max-width: 100% !important;
  background: none !important;
  color: #495057 !important;
  border: 1px solid #ced4da !important;
  border-radius: 0 !important;
}

.form-search-immobile input::-webkit-input-placeholder,
.form-search-immobile select::-webkit-input-placeholder {
  color: #495057 !important;
}

.form-search-immobile input:-ms-input-placeholder,
.form-search-immobile select:-ms-input-placeholder {
  color: #495057 !important;
}

.form-search-immobile input::-ms-input-placeholder,
.form-search-immobile select::-ms-input-placeholder {
  color: #495057 !important;
}

.form-search-immobile input::placeholder,
.form-search-immobile select::placeholder {
  color: #495057 !important;
}

.bootstrap-select .btn-light {
  padding: 0.25rem !important;
  max-width: 100% !important;
  background: none !important;
  color: #495057 !important;
  border: 1px solid #ced4da !important;
  border-radius: 0 !important;
}

.bootstrap-select .btn-light::-webkit-input-placeholder {
  color: #495057 !important;
}

.bootstrap-select .btn-light:-ms-input-placeholder {
  color: #495057 !important;
}

.bootstrap-select .btn-light::-ms-input-placeholder {
  color: #495057 !important;
}

.bootstrap-select .btn-light::placeholder {
  color: #495057 !important;
}

.input-group .input-group-text {
  z-index: 9;
  background: #6e273d;
  border: 0;
  border-radius: 0;
}

.input-group .input-group-text button {
  padding: 0;
  line-height: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.4em;
}

.pre-launch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e273d), to(#3e0000));
  background: linear-gradient(to bottom, #6e273d, #3e0000);
}

.pre-launch img {
  margin: 0 auto;
}

.pre-launch p {
  margin-top: 20px;
  font-family: "Hepta Slab", serif;
  font-size: 3em;
  color: white;
}
/*# sourceMappingURL=all.css.map */